extends layout

append head
  script(src='/javascripts/checkout.js')

block content
  .page-header
    .row
      .col-md-10
        h1 Checkout
      .col-md-2
        form(method='POST', action='/grubs/' + grubId + '/order')
          button.btn.btn-primary(type='submitOrder', id='submitOrder', grubId=grubId) Submit Order
  if locations
    div
      +addresses(locations)
  if paymentOptions
    div
      +paymentOptions(paymentOptions)
  div
    h1 Add New Address
    form.form-horizontal(method='POST')
      +textInputGroup('street', '123 Main Street')
      +textInputGroup('city', 'Cambridge')
      +textInputGroup('state', 'MA')
      +textInputGroup('zip_code', '02139')
      +textInputGroup('phone', '555-555-5555')
      .form-group.col-sm.col-sm-7
        button.col-sm-3.btn.btn-primary(type='addAddress', action='/auth/addAddress') Submit
  div
    h1 Add Payment Option
    form.form-hotizontal(method='GET')
      .form-group.col-sm.col-sm-7
        button.btn.btn-primary(type='addPayment', id='addPayment') Add Payment
