extends layout

append head
  script(src='/javascripts/checkout.js')

block content
  .page-header
  if locations
    +addresses(locations)
  if paymentOptions
    +paymentOptions(paymentOptions)
  div
    form.form-horizontal(method='POST', action='')
      button.btn.btn-primary()
  h1 Add New Address
  div
    form.form-horizontal(method='POST')
      +textInputGroup('street', '123 Main Street')
      +textInputGroup('city', 'Cambridge')
      +textInputGroup('state', 'MA')
      +textInputGroup('zip_code', '02139')
      .form-group.col-sm.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit') Submit
  h1 Add Payment Option
  div
    form.form-hotizontal(method='GET', action='/auth/addPayment'
      button.btn.btn-primary(type='addPayment', id='addPayment') Add Payment