extends layout

append head
  script(src='/javascripts/grub.js')

block content
  .page-header
    .row
      h1 #{grub.owner.name}'s order for #{grub.restaurant_name}
    .row
      if grub.time_ordered
        h3 This was orderd on #{grub.time_ordered}
      else
        .col-md-8
          h3 This order is still open!
        if isOwner
          .col-md-2
            button.btn.btn-primary Order Grub
          .col-md-2
            form(method='POST', action='/grubs/' + grub._id +'?_method=DELETE')
              button.btn(type='submit') Cancel Grub

  if (grub.subGrubs.length != 0)
    for subgrub in grub.subGrubs
      +subgrub(subgrub, user, grub.time_ordered)
  else
    div(style='text-align: center')
      p <i>No SubGrubs in this Grub!</i>

  if !grub.time_ordered
    div(style='text-align: center')
      form.form-horizontal(method="POST")
        button.btn.btn-primary.createSubGrub Create SubGrub
    