extends layout

block content
  .page-header
    .row
      h1 #{grub.owner.name}'s order for #{grub.restaurant_name}
    .row
      if grub.time_ordered
        h3 This was ordered on #{grub.time_ordered}
      else
        .col-md-8
          h3 This order is still open!
        if isOwner
          .col-md-2
            form(method='GET', action='/grubs/' + grub._id +'/checkout')
              button.btn.btn-success(type='submit') Checkout Grub
          .col-md-2
            form(method='POST', action='/grubs/' + grub._id +'?_method=DELETE')
              button.btn.btn-danger(type='submit') Cancel Grub

  - var alreadyHaveSubGrub = false;
  if (grub.subGrubs.length != 0)
    for subgrub in grub.subGrubs
      +subgrub(subgrub, user, grub.time_ordered)
      if (user._id.equals(subgrub.owner._id))
        - alreadyHaveSubGrub = true;
  else
    div(style='text-align: center')
      p <i>No SubGrubs in this Grub!</i>

  if (!grub.time_ordered && !alreadyHaveSubGrub)
    div(style='text-align: center')
      form.form-horizontal(method="POST")
        button.btn.btn-primary.createSubGrub Create SubGrub