extends layout

block content
  .page-header
    h1 Welcome to GrubSplit!
    h3 This is a grub's page
    // Get address from search for display - should be editable (later)
    
  a(href="/subgrubs/0")
    button Add items to subgrub