extends layout

block content
	.page-header
	h1 Welcome to GrubSplit!
	h3 This is a grub's page
	form.form-horizontal(method="POST")
		button.createSubGrub Create SubGrub
	a(href="/subgrubs/0")
		button To Subgrub page