extends layout

block content
  .page-header
    h1 Welcome to GrubSplit!
    h3 This is a restaurant's page
  form.form-horizontal(method='POST', action='/grubs?restaurantID=' + restaurant.id + '&restaurantName=' + restaurant.name)
    button.btn.btn-primary(type='submit') Start Grub