extends layout
include mixins/restaurantHeader

block content
  .page-header
    h1 Welcome to GrubSplit!
    h3 This is #{restaurant.name}'s page
    .row
      .col-md-10
        +restaurantHeader(restaurant)
      .col-md-2
        form.form-horizontal(method='POST', action='/grubs?restaurantID=' + restaurant.id + '&restaurantName=' + restaurant.name)
          button.btn.btn-primary(type='submit') Start Grub

  if restaurant.menu
    for submenu in restaurant.menu
        +menu(submenu, false)
  else
    p <i>No menu available :(</i>