extends layout
include mixins/restaurantHeader

append head
  script(src='/javascripts/subgrub.js')

block content
  .page-header
    .row
      h1.col-sm-10 Create your subgrub! 
      form.form-horizontal(method='POST', action='/subgrubs/' + subgrub._id +'?_method=DELETE')
        button.btn.btn-danger.col-sm-2(subGrubId=subgrub._id) Cancel Subgrub
    h3 #{restaurant.name}
    +restaurantHeader(restaurant)

    if restaurant.menu
      for submenu in restaurant.menu
          +menu(submenu, true)

    button.btn.btn-primary(id='submitSubGrub' subGrubId=subgrub._id) Add items to Grub