extends layout
include mixins/restaurantHeader

block content
  .page-header
    h1 Welcome to GrubSplit!
    h3 This is a subgrub's page
    +restaurantHeader(restaurant)

    if restaurant.menu
      for submenu in restaurant.menu
        if submenu.name == "Frappes"
          +menu(submenu)

    form.form-horizontal(method='POST')
      button.btn.btn-primary(type='submit') Add items to Grub