// recursively creates new menus for display on pages
// Requirement:
//      menu = menu entity from delivery.com API

mixin menu(menu)
    div=menu.name
        if menu.children
            for child in menu.children
                if (child.type === 'menu')
                    +menu(child)
                if (child.type === 'item')
                    +menuItem(child)

mixin menuItem(item)
    div.row
        div.col-md-6
            a(itemid=item.id).item
                p #{item.name}
        div.col-md-6
            p #{item.price}