// recursively creates new menus for display on pages
// Requirement:
//		menu = menu entity from delivery.com API
//		menuLevel = level at which the level is being added
//					i.e. Lunch menu = level 1, Salads = level 2
mixin menu(menu,menuLevel)
	p THE MENU IS APPEARING
	if menu.children.length > 0
		case menu.children[0].type
			when 'menu'
				p it's a menu!
			when 'item'
				p it's an item