//  allows for reusable restaurant header
//  TO DO: figure out where the info should be queried - that'll probably
//	  take place in the subgrub itself (query its restaurant) and then
//	  that info will need to be passed here and formatted accordingly

mixin restaurantheader(id)
	p Restaurant info = #{id}
