body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cart{
	color:orange;
	border: 1px solid orange;
	position: fixed;
	right: 40px;
	top: 150px;
	/* need to be made flexible*/
	width: 200px;
	height: 400px;
}

/*.submitOrder{
	bottom: 10px;
}*/