
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;  /*= width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

.item {
  cursor: pointer;
}

a {
  color: #00B7FF;
}

#cart{
	border: 2px solid black;
  padding-bottom : 1%;
  right: 130px;
  top: 30%;
	position: fixed;
}

/*.submitOrder{
	bottom: 10px;
}*/